body
{
    background-image: url("parchment-texture.jpg");
    background-repeat: no-repeat;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container
{
    background-color: white;
}
.plantsListParent{
    position:relative;
    overflow:hidden;
    height:200px;
    width:320px;
    background:#ddd;
    float: right;
    font:16px/26px Georgia, Garamond, Serif;
    padding-left: 15px;
    background: rgb(207, 207, 207);
    border-color: #333;
    -moz-box-shadow: 0 1px 5px 1px rgba(255,255,255,0.15);
    -webkit-box-shadow: 0 1px 5px 1px rgba(255,255,255,0.15);
    box-shadow: 0 1px 5px 1px rgba(255,255,255,0.15);
    border-radius: 25px;
}
.scrollable{
    overflow-y:scroll;
    position:absolute;
    padding:0 17px 0 0;
    right: -17px;
    width: 100%;
    height:100%;
}
  
#plantName
{
    border-bottom: 2px solid black;
    width: 90%;
}

.CentertheChild
{
    margin-left: 15%;
    width:800px;
}

#filtersBlock
{
    width: 400px;
    float: left;
}

#divRarGrp
{
    float: left;
}

#divLocGrp
{
    float: right;
    margin-left: 10%;
}

#divLocGrp1
{
    margin-right: 8px;
    float: left;
}
#divLocGrp2
{
    margin-left: 4px;
    margin-right: 4px;
    float: right;
}

#plantData
{
    clear: both;
    margin-bottom: auto;
    width: 100%;
    padding-top: 3px;
}

#plantInfo
{
    width: 90%;
}

.plantsClickable, #plantLocation, #plantRarity
{
    text-decoration: none !important;
    color: black;
}
.plantsClickable:hover
{
    color: black;
    cursor: pointer;
}
