body
{
    background-image: url("parchment-texture.jpg");
    background-repeat: no-repeat;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title 
{
    text-decoration: underline;
    font-family: 'IM Fell English SC'; 
    white-space: nowrap;
    text-align: center;
}

li 
{
    display: block;
    text-decoration: none;
}

/*modifies bootstrap class, covers top and bottom forms*/
.container
{
    background-color: white;
    padding-bottom: 1%;
    border: 1px solid black; 
    border-radius: 6px;
}

/*rules for objects in top form*/
#filtersBlock
{
    width: 23.5%;
    float: left;
    margin-top: 1em;
}

#filtersBlock > radio
{
    float: left;
}

#divRarGrp
{
    float: left;
    width: 43%
}

#divLocGrp
{
    float: right;
    width: 57%;
}

#divLocGrp1
{
    float: left;
}

#divLocGrp2
{
    float: right;
}

#plantsAndSearch
{
   width: 24.5%;
   float: right;
}

#plantSearchBox
{
    width: 100%;
}

.plantsListParent
{
    overflow:hidden;
    height:200px;
    font:16px/26px Georgia, Garamond, Serif;
    background: rgb(230, 230, 230);
    border: 1px solid black;
    border-radius: 6px;
}

.scrollable
{
    overflow-y:scroll;
    width: 110%;
    height:100%;
}

.plantsClickable
{
    margin-left: .25em;
    display: block;
}
 
/*data half of form*/
#plantData
{
    float: left;
    margin-bottom: auto;
    width: 50%;
    padding-top: 3px;
}

#plantName
{
    border-bottom: 2px solid black;
    width: 98%;
}

#plantInfo
{
    width: 98%;
}

.plantsClickable, #plantLocation, #plantRarity
{
    text-decoration: none; !important
    color: black;
}
.plantsClickable:hover
{
    color: black;
    cursor: pointer;
}

/*bottom form rules past here*/

#tooltip
{
    position: absolute;
    z-index: 9;
    background: rgba(255, 255, 255, 0.7);
    color: black;
    border-radius: 20px;
    border: solid black 1px;
    display: none;
    padding: 5px;
}

#resultd100, #resultd20
{
    width: 2em;
}
